<template>
    <div>
        <h1>Vuedown</h1>
        <textarea v-model="source" cols="80" rows="10" class="w-100 ba br2 pa2 b--black-30"></textarea>
        <hr>
        <div v-html="preview"></div>
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import {markdown} from 'markdown';
    import "tachyons";
    import "../css/styles.css";

    export default Vue.extend({
        data() {
            return {
                source: ''
            };
        },
        computed: {
            preview() {
                return markdown.toHTML(this.source);
            }
        }
    });
</script>

<style scoped>
    h1 {
        color: darkgreen;
    }
</style>